// Mixins Here
.custom-button(@btn-bg-color, @wild-sand) {
    background-color: @btn-bg-color;
    border: none;
    color: @wild-sand;
    padding: 10px 19px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
}
